
/* -------- Opmaak ------------ */

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center; 
}

#tekst {
  font-style: italic;
  padding-bottom: 14px;
  padding-top: 170px;
  color: white;
}

#date, #clock {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#date {
  padding-bottom: 10px;
}

#logo {
  width: 200px;
  padding-top: 150px;
}

/* -------------- animaties ------------ */ 

/* zonsondergang gedeurende de dag */

#sun img {
  position: absolute;
  width: 100px;
  left: 30px;
  animation-name: sunshine;
  animation-duration: 30s; /* bedoeling om zo langzaam te gaan dat de zon s'avonds ondergaat*/
  animation-timing-function: linear;
}

@keyframes sunshine {
  from {transform: translateY(-200px);}
  to {transform: translateY(500px);}
}

/* wolkjes voor savonds */

#cloud img {
  position: absolute;
  width: 65px;
  top: 50px;
  left: 0px;
  animation-name: cloudOne;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloudOne {
  from {transform: translateX(-100px);}
  to {transform: translateX(400px);}
}

#cloudTwo img {
  position: absolute;
  width: 65px;
  top: 70px;
  left: 0px;
  animation-name: cloudTwo;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloudTwo {
  from {transform: translateX(-100px);}
  to {transform: translateX(400px);}
}

/* -------- media queries ------------ */

/* ----- vanaf 450 ----- */

@media only screen and (min-width: 450px) {

#sun img {
  width: 150px;
  left: 50px;
}

#cloud img {
  width: 80px;
}

#cloudTwo img {
  width: 80px;
}

/* ----- vanaf 680 ----- */

@media only screen and (min-width: 680px) {

#tekst {
  font-size: 30px
}

#date, #clock {
  font-size: 30px;   
}

#logo {
  width: 300px;
}

#cloud img {
  animation-duration: 30s;
}

#cloudTwo img {
    animation-duration: 40s;
}

@keyframes cloud {
  from {transform: translateX(-100px);}
  to {transform: translateX(900px);}
}

@keyframes cloudTwo {
  from {transform: translateX(-100px);}
  to {transform: translateX(900px);}
}
}

/* ----- vanaf 850 ----- */

@media only screen and (min-width: 850px) {

#flex {
  display: flex;
  justify-content: center;
}

#flex div {
  text-align: center;
  padding: 10px;
}

#cloud img {
  animation-duration: 40s;
}

#cloudTwo img {
    animation-duration: 50s;
}

@keyframes cloud {
  from {transform: translateX(-100px);}
  to {transform: translateX(1100px);}
}

@keyframes cloudTwo {
  from {transform: translateX(-100px);}
  to {transform: translateX(1100px);}
}
}


/* ----- vanaf 1050 ----- */

@media only screen and (min-width: 1050px) {

#sun img {
  width: 200px;
  left: 150px;
}

#logo {
  padding-bottom: 30px;
}

#date, #clock {
  font-size: 40px;   
}

@keyframes cloud {
  from {transform: translateX(-100px);}
  to {transform: translateX(1400px);}
}

@keyframes cloudTwo {
  from {transform: translateX(-100px);}
  to {transform: translateX(1400px);}
}

}







